.card2{
    background-color: #fff;
    float: right;
    width: 102%;
    margin-right: -12%;
    margin-top: 2%;
    padding: 5%;
    border-radius: 10px;
  }


  .report-view{
    display: block;
    align-items: flex-end;
    justify-content: flex-end;
  }

  .btn-down{
    color: white;
    background-color: #876BAD;
    border-color: #a9a0b6;
    border-radius: 1ch;
    font-size: large;
    font-weight: bolder;
    height: 60%;
    width: 50%;
  }