html, body {
    margin: 0px;
    height:100%;
} 

body{
    background-image: url('./assets/images/fondo.jpg');
    background-size: auto 100%;
    background-position: left top;
    
    font-family: 'Mulish', sans-serif;
}