<div class="container">
    <app-menu></app-menu>

<div class="card">

    <h4><p>Bienvenido <strong>{{user.name}}</strong> {{user.email}} </p></h4>
    <main class="content">
        <article class="article">
            <h1>Title</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil tempore ducimus quisquam alias exercitationem suscipit vitae et quo ipsum qui.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, reiciendis.</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto, incidunt!</p>
        </article>
        <article class="article">
            <h1>Title</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil tempore ducimus quisquam alias exercitationem suscipit vitae et quo ipsum qui.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, reiciendis.</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto, incidunt!</p>
        </article>
        <article class="article">
            <h1>Title</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil tempore ducimus quisquam alias exercitationem suscipit vitae et quo ipsum qui.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, reiciendis.</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto, incidunt!</p>
        </article>
    </main>
    <aside class="sidebar"> 
        <div>
            <img class="image" src="./assets/movie1.jpg" alt="Stalker (1984)">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, consectetur.
            </p>
        </div>
        <div>
            <img class="image" src="./assets/movie2.jpg" alt="Blood in, Blood Out (1993)">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, consectetur.
            </p>
        </div>
        <div>
            <img class="image" src="./assets/movie3.jpg" alt="Blade Runner (1982)">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, consectetur.</p>
        </div>
    </aside>

</div>
</div>