<app-header [titleComp]="navbar"></app-header>
<app-menu></app-menu>
<div class="card2">
    <button class="btn btn-primary" type="submit">Crear</button>
  <div class="card">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">ID Provedor</th>
            <th scope="col">Nombre de la compañia</th>
            <th scope="col">Correo</th>
            <th scope="col">Numero de productos</th>
            <th scope="col">Monto</th>
            <th scope="col">Estatus</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>1</td>
            <td>Ali Sales</td>
            <td>ali_sales@alisales.com</td>
            <td>5</td>
            <td>700.50</td>
            <td>Hecho</td>
            <td>
              <div class="accions">
                <button type="button" class="btn-details">Details</button>
              </div>
            </td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>1</td>
            <td>Ali Sales</td>
            <td>ali_sales@alisales.com</td>
            <td>5</td>
            <td>4,782</td>
            <td>Pendiente</td>
            <td>
              <button type="button" class="btn-details">Details</button>
            </td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>1</td>
            <td>Ali Sales</td>
            <td>ali_sales@alisales.com</td>
            <td>5</td>
            <td>1,786.51</td>
            <td>Cancelado</td>
            <td>
              <button type="button" class="btn-details">Details</button>
            </td>
          </tr>
        </tbody>
      </table>
</div>