<div class="header">
  <div class="row ">
    <div class="col-12 text-center" >
      <span class="cursor-img" >
        <img src="../../../assets/images/kgirlLogo.png" />
      </span>
    </div>
    <div class="col-12 text-center" >
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item active" >
              <a class="nav-link ml-3" routerLink="/home" routerLinkActive="active-link">
                <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-house-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8 3.293l6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
                <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
                </svg> <span class="ml-2">Inicio</span>
              </a>
            </li>
            <li class="nav-item" >
              <a class="nav-link ml-3" routerLink="/home" routerLinkActive="active-link">
                <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-shop" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M2.97 1.35A1 1 0 0 1 3.73 1h8.54a1 1 0 0 1 .76.35l2.609 3.044A1.5 1.5 0 0 1 16 5.37v.255a2.375 2.375 0 0 1-4.25 1.458A2.371 2.371 0 0 1 9.875 8 2.37 2.37 0 0 1 8 7.083 2.37 2.37 0 0 1 6.125 8a2.37 2.37 0 0 1-1.875-.917A2.375 2.375 0 0 1 0 5.625V5.37a1.5 1.5 0 0 1 .361-.976l2.61-3.045zm1.78 4.275a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 1 0 2.75 0V5.37a.5.5 0 0 0-.12-.325L12.27 2H3.73L1.12 5.045A.5.5 0 0 0 1 5.37v.255a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0zM1.5 8.5A.5.5 0 0 1 2 9v6h1v-5a1 1 0 0 1 1-1h3a1 1 0 0 1 1 1v5h6V9a.5.5 0 0 1 1 0v6h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1V9a.5.5 0 0 1 .5-.5zM4 15h3v-5H4v5zm5-5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1v-3zm3 0h-2v3h2v-3z"/>
                </svg>
                <span class="ml-2">Nosotros</span>
              </a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link ml-3" routerLink="/products" routerLinkActive="active-link">
                <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-handbag" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M8 1a2 2 0 0 0-2 2v2h4V3a2 2 0 0 0-2-2zm3 4V3a3 3 0 1 0-6 0v2H3.361a1.5 1.5 0 0 0-1.483 1.277L.85 13.13A2.5 2.5 0 0 0 3.322 16h9.356a2.5 2.5 0 0 0 2.472-2.87l-1.028-6.853A1.5 1.5 0 0 0 12.64 5H11zm-1 1v1.5a.5.5 0 0 0 1 0V6h1.639a.5.5 0 0 1 .494.426l1.028 6.851A1.5 1.5 0 0 1 12.678 15H3.322a1.5 1.5 0 0 1-1.483-1.723l1.028-6.851A.5.5 0 0 1 3.36 6H5v1.5a.5.5 0 0 0 1 0V6h4z"/>
                </svg>
                <span class="ml-2">Productos</span>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a routerLink="productos" class="dropdown-item">Productos</a>
                <div class="dropdown-divider">
                  
                </div>
                <a routerLink="servicios" class="dropdown-item ">Servicios</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link ml-3" routerLink="/home" routerLinkActive="active-link">
                <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-envelope" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383l-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z"/>
                </svg>
                <span class="ml-2">Contáctanos</span>
              </a>
            </li>
            <li class="nav-item" routerLinkActive="active-link">
              <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-box-arrow-in-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"/>
                <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
              </svg>
              <input type="checkbox" id="btn-modal">
              <label for="btn-modal" class="lbl-modal">Iniciar Sesión</label>
              <div class="modal">
                
                <div class="contenedor">
                   <header><img src="../../../assets/images/kgirlLogo.png" /></header>
                   <label for="btn-modal">X</label>
                   <div class="modal-content">
                    <br>
                    <div class="container">
                        <h4 class="modal-title ml-3" id="exampleModalLabel">
                          Inicio de sesión
                        </h4>
                      </div>
                      <div class="modal-body">
                        <!--<div class="row mt-2">
                          <div class="col-12 animated fadeIn fast">
                            <div class="alert alert-danger text-center" role="alert">
                              Datos incorrectos!
                            </div>
                          </div>
                        </div> -->
                        <div class="box">
                          <div class="row">
                            <div class="container">
                              <div class="col-12">
                                <input type="email" name="correo" class="form-control" aria-describedby="emailHelp" placeholder="Ingrese su correo eléctronico">
                              </div>
                            </div>
                            <div class="container mt-3">
                              <div class="col-12">
                                <input type="password" name="pass" class="form-control" placeholder="Ingrese su contraseña">
                                <div id="alertaPass">
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <div class="container">
                            <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cancelar</button>
                            <button type="button" class="btn btn-info ml-2" >Iniciar Sesión</button>
                        </div>
                      </div>
                    <small class="form-text text-muted text-center m-3">¿No tienes cuenta? <a routerLink="/registrarse" data-dismiss="modal" data-toggle="modal" data-target="#modalRegistro"><span aria-hidden="true">Registrarse</span></a> </small>
                </div>
                </div>
              </div>
            </li>        
          </ul>
        </div>
      </nav>
    </div>
  </div>
  <br>
</div>

  