.header-com{
    margin-top: 50px;
    margin-left: 112px;
    width: 104%;
    background-color: white;
    border-radius: 10px;

}
h3{
   
    font-size: 32px;
    color: #876BAD;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}
