@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;1,100&display=swap');

.header-com {
  margin-top: 50px;
  margin-left: 119px;
  width: 104%;
  height: 80px;
  background-color: white;
  border-radius: 10px;
}

.title{
  margin-left: -10%;
}

.title-component {
  font-family: Poppins, "sans-serif";
  padding-left: 3% !important;
}

.title-icon{
  margin-top: -3em;
}
.main-header{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

svg{
  color:#876bad;
  margin-top: 25%;
}

.main-header-body{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.card-border{
  background-color: white;
  margin-left: 8em;
  margin-top: 3em;
  width: 102%;
  border-radius: 10px;
}
.row-header{
  display: flex;
  align-items: center;
}

h3 {
  font-size: 32px;
  color: #876bad;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.bi {
  position: relative;
  display: table-cell;
  width: 37px;
  height: 40px;
  text-align: center;
  vertical-align: middle;
  font-size: 5px;
  margin-top: -10px;
  margin-right: 10px;
  margin-left: 20px;
  }

  p{
    margin-top: -20px;
    margin-bottom: 1rem;
    margin-left: 86%;
    font-size: 20px;

}

.bi-person-circle{
    margin-left: 82%;
    width: 3%;
    height: 10%;
    color: #876bad;
}
  
  
 