<app-header [titleComp]="navbar"></app-header>
<app-menu></app-menu>
<div class="card-form">
  <div class="card-body">
    <div style="display: flex; justify-content: flex-end; margin-bottom: 10px;">
      <button class="btn-regresar" (click)="regresar()">regresar</button>
    </div>
    <div class="contact-wrapper">
      <div class="contact-form">
          <table class="table table-striped">
            <thead>
                <tr>
                  <th scope="col">order_id</th>
                  <th scope="col">product_id</th>
                  <th scope="col">name</th>
                  <th scope="col">brand</th>
                  <th scope="col">category_id</th>
                  <th scope="col">description </th>
                  <th scope="col">amount</th>
                  <th scope="col">charge</th>
                  <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let order of order_details">
                  <th scope="row">{{order.order_id}}</th>
                  <td>{{order.product_id}}</td>
                  <td>{{order.name}}</td>
                  <td>{{order.brand}}</td>
                  <td>{{order.category_id}}</td>
                  <td>{{order.description}}</td>
                  <td>{{order.amount}}</td>
                  <td>{{order.charge}}</td>
                </tr>
              </tbody>
          </table>
      </div>
  </div>
  </div>
</div>