.login{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 30px;
    min-height: calc(100vh - 200px);/* AGREGA UN ALTO, PORMAS GRANDE QUE SEA EL ALTO SIEMPRE ESTE VA A SER EL VALOR MINIMO, UTILIZA UNA OPERACION MATEMATTICOS BASANDOSE EN LA PANTALLA DEL USUARIO   */
}

.login__container{
    background-color: white;
    border-radius: 20px;
    color: black;
    padding: 60px 68px 40px;
    min-height: 500px;
    width: 500px;
    /* Este trip fue clave para acomdar todo el pedo*/
    display: flex;
    justify-content: space-around;
    flex-direction: column;

}

.login__container--form{
    color: #557174;
    display: flex;
    flex-direction: column;
}

.login__container--form label{
    font-size: 14px;
}

.login__container--remember-me{
    color: black;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.login__container--remember-me a{
    color: black;
    font-size: 14px;
    text-decoration: none;
}

.login__container--remember-me a:hover{
    text-decoration: underline;
}

/*de esta manera nos podemos referir a todos los div dentro de social media */
.login__container--social-media >div {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-bottom: 10px;
}
.login__container--social-media{
    color: #557174;
    
    margin-top: 2ch;
}

.login__container--social-media >div >img{
    width: 30px;
    margin-right: 10px;
}

.login__container--register{
    font-size: 14px;
}

.login__container--register a{
    color: #9057d1bb;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}

.login__container--register a:hover{
    text-decoration: underline;
}

.login__container--login{
    display: flex;
    justify-content: center;
    font-size: 14px;
    font-weight: bold;
}

.login__container--login a{
    text-decoration: none;
    color: black;
}

.login__container--login a:hover{
    text-decoration: underline;
}

.box-logo > p{
    margin-top:2ch;
    display: flex;
    justify-content: center;
    font-size: small;
    color: #557174;
    font-weight: bold;
}

.input{
    background-color: #d1c7cd6c;
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 0px;
    border-radius: 5px;
    font-family: 'Mulish', sans-serif;
    margin-bottom: 20px;
    padding: 0px 20px;
    outline: none;
    height: 60px;
}

::placeholder{
    color: gray;
}

.button{
    background-color: rgba(194, 114, 214, 0.739);
    border: none;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Mulish', sans-serif;
    height: 50px;
    letter-spacing: 1px;
    margin: 10px 0px;
    outline: none;
}
.footer{
    background-color: #000000;
    display: flex;
    align-items: center;
    height: 150px;
    width: 100%;
}

.footer a{
    color: #557174;
    cursor: pointer;
    font-size: 15px;
    padding-left: 30px;
    text-decoration: none;
    font-weight: bold;
}

.footer a:hover{
    text-decoration: underline;
}

/* CSS MEDIA QUERY*/
@media only screen and (max-width: 600px){
    .login__container{
        background-color: transparent;
        border: none;
        padding: 0px;
        width: 100%;
    }
    .footer{
        align-items: flex-start;
        flex-direction: column;
    }
}