<div class="boxc">
    <section class="login">
        <section class="login__container">
            <div class="container">
                <span class="cursor-img" >
                    <img src="../../../assets/images/kgirlLogo.png" />
                </span>
            </div>
            <div class="box-logo">
                <p>Brilla por ti y para ti</p>
                <p>Bienvenido</p>
            </div>
            <form class="login__container--form">
                <input class="input" type="email" [(ngModel)]="login.email"  name="email" placeholder="e-mail">
                <input class="input" type="password" [(ngModel)]="login.password"  name="password" placeholder="password">
                
                <div *ngIf="err_message === true" class="alert alert-danger text-center" role="alert">
                    <div class="container">
                        <div style="display: flex; align-items: center; justify-content: space-between;">
                            <p>Datos incorrectos! </p>
                            <div style="margin-top: -1em;" >
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeError()">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="button" (click)="login_into()">Iniciar Sesion</button>
                <div class="login__container--remember-me">
                    <label >
                        <input type="checkbox" name="" id="box1" value="checkbox">Recuerdame
                    </label>
                    <a href="/">Olvide mi Contraseña</a>
                </div>
            </form> 
            <br>
            <p class="login__container--register">No tienes ninguna cuenta <a href="./registro.html">Registrate</a></p>
        </section>
    </section>
</div>