<app-header [titleComp]="title"></app-header>
<app-menu></app-menu>
<div class="card2">
  <button class="btn btn-primary" type="submit">Crear</button>
  <div class="card">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Num #</th>
          <th scope="col">Fecha de pedido</th>
          <th scope="col">Cliente</th>
          <th scope="col">Comercial</th>
          <th scope="col">Monto</th>
          <th scope="col">Estatus</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <th scope="row">1</th>
          <td>06/02/1999</td>
          <td>{{user.name}}</td>
          <td>{{user.last_name}}</td>
          <td>700.50</td>
          <td>Hecho</td>
          <td>@mdo</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>