<app-header></app-header>
<app-menu></app-menu>
<div class="card2">
    <button class="btn btn-primary" type="submit">Crear</button>
  <div class="card">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Num #</th>
            <th scope="col">Fecha de pedido</th>
            <th scope="col">Cliente</th>
            <th scope="col">Comercial</th>
            <th scope="col">Monto</th>
            <th scope="col">Estatus</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>06/02/1999</td>
            <td>Bryan Lepe</td>
            <td>Miranda Guillen</td>
            <td>700.50</td>
            <td>Hecho</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>12/05/1999</td>
            <td>Miranda Guillen</td>
            <td>Miranda Guillen</td>
            <td>4,782</td>
            <td>Pendiente</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>31/07/1999</td>
            <td>Tom Holland</td>
            <td>Miranda Guillen</td>
            <td>1,786.51</td>
            <td>Cancelado</td>
            <td>@mdo</td>
          </tr>
        </tbody>
      </table>
</div>