<app-header [titleComp]="navbar"></app-header>
<app-menu></app-menu>
<div class="card2">
  <div class="row">
    <div class="col-11">
      <div class="input-group mb-3">
        <button class="btn-custom" (click)="searchOrder()">Buscar</button>
        <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Ingrese Id">
        
      </div>
    </div>
    <div class="col-1">
      <button class="btn-add" type="submit" [routerLink]="['/ventas/add']">+</button>
    </div>
  </div>
  <div class="card">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">client_id</th>
          <th scope="col">total_items</th>
          <th scope="col">total_charge</th>
          <th scope="col">delivery_id</th>
          <th scope="col">status</th>
          <th scope="col">created_at</th>
          
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let venta of ventas">
          <th scope="row">{{venta.order_id}}</th>
          <td>{{venta.client_id}}</td>
          <td>{{venta.total_items}}</td>
          <td>{{venta.total_charge}}</td>
          <td>{{venta.delivery_id}}</td>
          <td>{{venta.status}}</td>
          <td>{{venta.created_at}}</td>
          <td>
            <div class="accions">
              <button type="button" class="btn-details" [routerLink]="['/ventas/order-details', venta.order_id]" >Details</button>
            </div>
          </td>
        </tr>
      </tbody>
      
    </table>
  </div>
</div>
<div *ngIf="modalSwitch == true">
  
</div>