<app-header [titleComp]="navbar"></app-header>
<app-menu></app-menu>
<div class="card-form">
  <div class="card-body">
    <div style="display: flex; justify-content: flex-end; margin-bottom: 10px;">
      <button class="btn-regresar" (click)="regresar()">regresar</button>
    </div>
    <div class="contact-wrapper">
      <div class="contact-form">
          <form>
              
              <p>
                  <label>Id cliente</label>
                  <input type="text" [(ngModel)]="venta.client_id" name="last_name" placeholder="apellido">
              </p>
              <p>
                  <label>Numero de Productos</label>
                  <input type="text" [(ngModel)]="venta.total_items" name="email" placeholder="Numero de Productos">
              </p>
              <p>
                  <label>Cargo Total</label>
                  <input type="text" [(ngModel)]="venta.total_charge" name="password" placeholder="Cargo Total">
              </p>
            <p>
                <label>Estatus</label>
                <input type="text" [(ngModel)]="venta.status" name="status">
            </p>

              <p class="block">
                  <button  type="submit" (click)="saveNewVenta()">Guardar</button>
              </p>
          </form>
      </div>
  </div>
  </div>
</div>