.card2{
    background-color: #fff;
    float: right;
    width: 102%;
    margin-right: -12%;
    margin-top: 2%;
    padding: 5%;
    border-radius: 15px;
}

.btn-danger{

    background-color: #a45e5e;
    border-color: #a45e5e;
}

.btn-warning{
    background-color: #dbe76b;
    border-color: #dbe76b;
}
.btn-primary{
    background-color: #876BAD;
    border-color: #876BAD;
    margin-top: -6%;
}