<app-header [titleComp]="navbar"></app-header>
<app-menu></app-menu>
<div class="card-form">
  <div class="card-body">
    <div style="display: flex; justify-content: flex-end; margin-bottom: 10px;">
      <button class="btn-regresar" (click)="regresar()">regresar</button>
    </div>
    <div class="contact-wrapper">
      <div class="contact-form">
        <h5><p class="title-p">Formulario de Productos</p></h5>
        <hr>  
        <form>
          <p>
            <label >Nombre</label>
            <input type="text" class="form-control" [(ngModel)]="product.name" name="name" placeholder="Nombre">
          </p>
          <p>
            <label >Marca</label>
            <input type="text" class="form-control" [(ngModel)]="product.brand" name="brand" placeholder="Marca">
          </p>
          <p>
            <label >Status</label>
            <input type="text" class="form-control" [(ngModel)]="product.status" name="status" placeholder="Status">
          </p>
          <p>
            <label >Categoria</label>
                  <select name="category_id" class="form-control" [(ngModel)]="product.category_id">
                      <option value="1" selected >ACCESORIOS</option>
                      <option value="2">All</option>
                      <option value="3">COSMETICOS</option>
                      <option value="4">KIT</option>
                      <option value="5">SKIN CARE</option>
                </select>
          </p>
          <p>
            <label >Public Price</label>
            <input type="text" class="form-control" [(ngModel)]="product.public_price" name="public_price" placeholder="Public Price">
          </p>
          <p>
            <label >Suplier Price</label>
            <input type="text" class="form-control" [(ngModel)]="product.suplier_price" name="suplier_price" placeholder="Suplier Price">
          </p>
          <p>
            <label >Stock</label>
            <input type="text" class="form-control" [(ngModel)]="product.stock" name="stock" placeholder="0">
          </p>
          <p>
            <label >Descripcion</label>
            <input type="text" class="form-control" [(ngModel)]="product.description" name="description" placeholder="Descripcion">
          </p>
          <p class="block">
            <button class="btn btn-success btn-block" (click)="edit ? updateProduct() : saveNewProduct()">Guardar</button>
          </p>
          
        </form>
      </div>
  </div>
  </div>
</div>