<app-header [titleComp]="navbar"></app-header>
<app-menu></app-menu>
<div class="card-form">
  <div class="card-body">
    <div style="display: flex; justify-content: flex-end; margin-bottom: 10px;">
      <button class="btn-regresar" (click)="regresar()">regresar</button>
    </div>
    <div class="contact-wrapper">
      <div class="contact-form">
          <form>
              <p>
                  <label>Nombre</label>
                  <input type="text" [(ngModel)]="user.name"class="form-control" name="name" placeholder="nombre">
              </p>
              <p>
                  <label>Apellido</label>
                  <input type="text" [(ngModel)]="user.last_name"class="form-control" name="last_name" placeholder="apellido">
              </p>
              <p>
                  <label>Correo</label>
                  <input type="email" [(ngModel)]="user.email" class="form-control"name="email" placeholder="correo">
              </p>
              <p>
                  <label>Contraseña</label>
                  <input type="password"class="form-control" [(ngModel)]="user.password" name="password" placeholder="Contraseña">
              </p>
              <p>
                <label>Rol</label>
                <select name="status" class="form-control" [(ngModel)]="user.rol_id">
                    <option value=1>ADMINISTRADOR</option>
                    <option value=2>EDITOR</option>
                    <option value=3>CONSULTOR</option>
              </select>
            </p>
            <p>
                <label>Estatus</label>
                <select name="status" class="form-control" [(ngModel)]="user.status">
                      <option value="ACTIVO">ACTIVO</option>
                      <option value="BLOQUEADO">BLOQUEADO</option>
                      <option value="PENDIENTE">PENDIENTE</option>
                </select>
            </p>
              <p class="block">
                  <button  type="submit" (click)="edit ? updateUser() : saveNewUser()">Guardar</button>
              </p>
          </form>
      </div>
  </div>
  </div>
</div>