<app-header [titleComp]="navbar"></app-header>
<app-menu></app-menu>
<div class="card-form">
  <div class="card-body">
    <div style="display: flex; justify-content: flex-end; margin-bottom: 10px;">
      <button class="btn-regresar" (click)="regresar()">regresar</button>
    </div>
    <div class="contact-wrapper">
      <div class="contact-form">
        <h4><p style="text-align: center;">Formulario de Proveedores</p></h4>
        <hr>  
          <form>
              <p>
                  <label>Nombre de la Compañia</label>
                  <input type="text" class="form-control"[(ngModel)]="proveedor.company_name" name="name" placeholder="nombre">
              </p>
              <p>
                  <label>Categoria</label>
                  <input type="text" class="form-control"[(ngModel)]="proveedor.category" name="category" placeholder="categoria">
              </p>
              <p>
                  <label>Correo</label>
                  <input type="email" class="form-control"[(ngModel)]="proveedor.email" name="email" placeholder="correo">
              </p>
              <p>
                  <label>Domicilio</label>
                  <input type="text" class="form-control"[(ngModel)]="proveedor.address" name="address" placeholder="domicilio">
              </p>
              <p>
                <label>Numero de Contacto</label>
                <input type="text" class="form-control"[(ngModel)]="proveedor.contact_number" name="contact_number" placeholder="numero de Contacto">
            </p>
            <p>
                <label>Estatus</label>
                <input type="text" class="form-control"[(ngModel)]="proveedor.status" name="status" placeholder="estatus">
            </p>
              <p class="block">
                  <button  type="submit" (click)="edit ? updateProveedor() : saveNewProveedor()">Guardar</button>
              </p>
          </form>
      </div>
  </div>
  </div>
</div>